body {
  font-family: "Poppins", sans-serif;
  background: #fff8f0;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.nav-bar {
  background: #656ec0;
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-bar__logo {
  cursor: pointer;
}

.nav-bar__logo h1 {
  color: #fff8f0;
  font-size: 30px;
}

.nav-bar__buttons {
  display: flex;
  margin-left: auto;
}

.nav-bar__buttons button {
  background: none;
  border: none;
  color: #fff8f0;
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
  transition: color 0.3s;
}

.nav-bar__buttons button:hover {
  color: #ffcc99;
}


.modal {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  text-align: center;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.modal h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.modal p {
  font-size: 18px;
  margin: 10px 0;
}

.modal button {
  background-color: #656ec0;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.modal button:hover {
  background-color: #1022c2;
}


.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex-grow: 1;
}

.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  flex: 1;
}

.tracking-box {
  position: absolute;
  border: 2px solid #ffcc99;
  box-shadow: 0 0 10px rgba(255, 204, 153, 0.5);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.result-container {
  background-color: #fff;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 400px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.result-container__title {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.result {
  text-align: center;
  overflow: auto;
  width: 100%;
  max-height: calc(100% - 40px);
  padding: 0 10px;
}

.result p {
  margin: 0;
  word-break: break-word;
}

.result::-webkit-scrollbar {
  width: 10px;
}

.result::-webkit-scrollbar-track {
  background: #fff8f0;
  border-radius: 10px;
}

.result::-webkit-scrollbar-thumb {
  background: #656ec0;
  border-radius: 10px;
  border: 2px solid #fff8f0;
}

.result::-webkit-scrollbar-thumb:hover {
  background: #656ec0;
}

footer {
  background-color: #656ec0;
  color: #fff8f0;
  padding: 20px;
  text-align: center;
  margin-top: auto;
}

footer p {
  margin: 0;
}

footer a {
  color: #ffcc99;
  text-decoration: none;
}

.swal-button {
  padding: 7px 19px;
  border-radius: 2px;
  background-color: #d26a5c;
  color: black;
  border: 1px solid #3e549a;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}

#webcam,
#canvas {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
}

#canvas {
  z-index: 100000;
}
